---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import KeyVisual from '../components/KeyVisual.astro';
import Problem from '../components/Problem.astro';
import Needs from '../components/Needs.astro';
import ThirdPath from '../components/ThirdPath.astro';
import How from '../components/How.astro';
import Policies from '../components/Policies.astro';
import Example from '../components/Example.astro';
import Features from '../components/Features.astro';
import Fit from '../components/Fit.astro';
import Scenarios from '../components/Scenarios.astro';
import Pricing from '../components/Pricing.astro';
import Objections from '../components/Objections.astro';
import RequestForm from '../components/RequestForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <KeyVisual />
    <Problem />
    <Needs />
    <ThirdPath />
    <How />
    <Policies />
    <Example />
    <Pricing />
    <Features />
    <Fit />
    <Scenarios />
    <RequestForm />
    <Objections />
  </main>
  <Footer />
</Layout>
